<app-admin-dashboard></app-admin-dashboard>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="form-popup" id="myForm">
  <h2 style="text-align: center; color: blue;">Edit Employee</h2><br>
<div class="jumbotron col-md-6 mx-auto"  >
<div class="submit-form">
  <div *ngIf="!submitted">
  <form ngNativeValidate  (ngSubmit)="createAndUpdate(es.currentEmployee)">
   
     <div class="form-group">
      <label for="name"> Name :</label>
     <input type="text" class="form-control" 
        name="name" [(ngModel)]="es.currentEmployee.name" required />
    </div>
    <div class="form-group">
      <label for="email">Email :</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="username"
        required
        [(ngModel)]="es.currentEmployee.username"
        
      />
    </div>
    
        <div class="form-group">
         <label for="salary"> Salary :</label>
        <input type="text" class="form-control"
        name="salary" 
        [(ngModel)]="es.currentEmployee.salary"
          required />
      
    </div> 
    <div class="form-group">
      <label for="designation">Designation :</label>
      <select 
      name="designation"
      id="designation" 
      class="form-control" 
      required
      
      [(ngModel)]="es.currentEmployee.designation">

            <option  selected>--Select Designation--</option>
            <option value="Associate Software Engineer" >Associate Software Engineer</option>
            <option value="Software Engineer">Software Engineer</option>
            <option value="Trainer">Trainer</option>
      </select>
    </div>
      <div class="form-group" >
        <label for="doj"> Date of Joining :</label>
       <input type="date" class="form-control" 
       name="doj"
       [(ngModel)]="es.currentEmployee.doj"
       required />
      </div>
      
        <div class="form-group">
         <label for="skills"> Skill :</label>
        <input type="text" class="form-control" 
        name="skills"
        [(ngModel)]="es.currentEmployee.skills"
             required />
       
      </div>
       <div class="form-group">
        <label for="acctype">Account type :</label>
        <select 
        
        id="acctype" 
        class="form-control" 
        name="acctype"
        [(ngModel)]="es.currentEmployee.acctype"
        required
        
        >
  
              <option value="0" selected>--Select Acc. Type--</option>
              <option value="Admin">Admin</option>
              <option value="Employee">Employee</option>
             
        </select>
      </div>
      <div class="form-group">
        <label for="password"> Password :</label>
       <input type="password" class="form-control" 
       name="password"
       [(ngModel)]="es.currentEmployee.password"
          required />
      </div><br>
    <input type="submit" class="btn btn-success" value="Submit" />
 
</form>
  </div>
  </div>

  </div>
</div>
  <br>
    <h3>Employees</h3>
    
<hr>
<br><br>
<div class="col-md-4">
  <input type="text" class="form-control"  [(ngModel)]="namesearch" (input)="searchName()"
        name="namesearch" id="searchname" placeholder="Enter name" required />
       
</div>
<div class="col-md-4">
  <input type="text" class="form-control"  [(ngModel)]="searchsalary" (input)="searchSalary()"
        name="searchsalary" id="searchsalary" placeholder="Enter salary" required />
       
</div>
<div class="col-md-4">
  <input type="date" class="form-control"  [(ngModel)]="searchdate" (input)="searchDate()"
        name="datesearch" id="searchdate" placeholder="Enter Date" required />
       
</div>
<div class="row">
<div class="col-md-2">
  <input type="date" class="form-control"  [(ngModel)]="startdate" 
        name="startdate" id="startdate" placeholder="Enter Date" required />
       
</div>
<div class="col-md-2">
  <input type="date" class="form-control"  [(ngModel)]="enddate" (input)="searchDateRange()"
        name="endsearch" id="enddate" placeholder="Enter Date" required />
       
</div>
</div>
<div class="col-md-4">
 
  <select 
  id="searchdesig" 
  class="form-control" 
  name="searchdesig"
  [(ngModel)]="searchdesig" (change)="searchDesig($event)"
  required
  
  >

        <option value="No data" selected>--All Data--</option>
        <option value="Associate Software Engineer">Associate Software Engineer</option>
        <option value="Software Engineer">Software Engineer</option>
        <option value="Trainer">Trainer</option>
  </select>

</div>
<div class="col-md-4">
  <input type="text" class="form-control"  [(ngModel)]="searchskill" (input)="searchSkill()"
        name="skillsearch" id="searchskill" placeholder="Enter Skill" required />
       
</div>
<div class="row">
<div class="col-md-4">
 
  <select 
  
  id="searchbox" 
  class="form-control" 
  name="name"
  (change)="searchEvent($event)"
  required
  
  >

        <option value="0" selected>--Select Search Type--</option>
        <option value="name">Name</option>
        <option value="salary">Salary</option>
        <option value="DOJ">DOJ</option>
        <option value="range">DOJ (Range)</option>
        <option value="Designation">Position</option>
        <option value="skill">Skill</option>
  </select>

</div>
</div>



<br>
<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Salary</th>
        <th scope="col">Position</th>
        <th scope="col">DOJ</th>
        <th scope="col">Skills</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Employees of list">
       
        <td>{{Employees.id}}</td>
        <td>{{Employees.name}}</td>
        <td>{{Employees.salary}}</td>
        <td>{{Employees.designation}}</td>
        <td>{{Employees.doj}}</td>
        <td>{{Employees.skills}}</td>
        <td>
            <button (click)="deleteEmployee(Employees.id)" class="btn text-light bg-danger">Delete</button>
          </td>
          <td>
            <button (click)="editForm(Employees)" class="btn text-light bg-primary">Edit</button>
          </td>
      </tr>
      
    </tbody>
  </table>
</div>
</main>